<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>http://localhost:8787</string>
	<key>CLERK_PUBLISHABLE_KEY</key>
	<string>pk_test_your_publishable_key</string>
</dict>
</plist>
